# MATLAB autosave and temporary files
*.asv
*.m~
*.autosave
*.slxc
slprj/
codegen/

# macOS
.DS_Store

# MathWorks plugin package (copyrighted, regenerate with packageGazeboPlugin)
gazebo/GazeboPlugin.zip
gazebo/GazeboPlugin/
